body {
    background-image: url("../resources/imagenes/6346.jpg");
    max-width: 1000px;
    padding: 40px;
    margin: 0 auto;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.galeria {
    display: flex;
    gap: 10px;
    padding: 20px;
    margin: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.galeria img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.galeria img:hover {
    transform: scale(1.1);
}

.galeria section {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}