.navegacion {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}

.navegacion .logo-titulo {
    display: flex;
    align-items: center;
}

.navegacion img {
    height: 40px;
    margin-right: 10px;
}

.navegacion .title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.navegacion nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navegacion nav ul li {
    position: relative;
    margin-left: 20px;
}

.navegacion nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: block;
}

/* Submenu */
.navegacion nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%; 
    transform: translateX(-50%); /* Ajusta el submenú para que esté centrado */
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: auto;
    border-top: 3px solid transparent;
}

.navegacion nav ul li:hover > ul {
    display: block;
    border-top-color: aquamarine;
}

/* Efectos */
.navegacion nav ul li ul li a:hover,
.navegacion nav ul li a:hover {
    transition: 15ms;
    color: aquamarine;
}

