div{
padding: 20px;
margin: 0 auto;
text-align: center;
background: black;
color: whitesmoke;
}
p,h2,h3{
    text-align: left;
}
h2{
    color: beige;
}

.clasificacion{
   color: crimson; 
}

.galeria img{
width: 100px;
height: 100px;
}
